@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width: 768px) { .container { max-width: 450px; } }

.red{
  color: red;
  font-weight: bold;
}
.green{
  color: green;
  font-weight: bold;
}

.bold{
   font-weight: bolder;
}

.small-italic{
   font-style: italic;     
   font-size: 1em;
}